
#main {
    display: grid;
    grid-template-rows: 5%, 30%, 30%,5%; 
    grid-gap: 10px;
    width: 100vw;
    height: 1300px;
    justify-content: center;
    text-align: center;
}


#header {
    grid-row-start: 1;
    grid-row-end: 2;
}
#navbar {
    margin: 0px, 40px; 
    display: flex; 
    justify-content: space-around; 
    margin: 20px;
}


#about-me {
    grid-row-start: 2;
    grid-row-end: 3; 
    display: grid;
    grid-template-columns: auto, auto;
}
#aboutme-title {
    grid-column-start: 1;
    grid-column-end: 3;
}
#aboutme-left {
    grid-column-start: 1;
    grid-column-end: 2;
}
#aboutme-right {
    grid-column-start: 2;
    grid-column-end: 3;
}


#projects {
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: center;
    width: 100vw;
}
#projects-boxes {
    display: flex; 
    justify-content: space-around; 
}


#footer {
    grid-row-start: 4;
    grid-row-end: 5;
    justify-content: center;
}
