
#main {
    background-image: url("https://images.pexels.com/photos/4729738/pexels-photo-4729738.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover; 
    background-attachment: fixed; 
    font-family: 'Arial Narrow', Arial, sans-serif; 
    color: white;
}


#about-me {
    overflow-wrap: normal;
 }
#aboutme-left {
    text-align: left;
    margin: 40px;
}
#aboutme-right {
    text-align: left;
    margin: 40px;
}
#headshot {
    border: 5px solid white;
    width: 290px; 
    height: 430px;
}


#projects {
    background-color: rgba(200, 98, 40, 0.37); 
}
#project-1 {
    border: 5px solid white;
}
#project-2 {
    border: 5px solid white;
}
#project-3 {
    border: 5px solid white;
}


a {
    color: rgb(77, 76, 76);
    font-size: 20px;
    text-shadow: 1px 1px 5px #ada1a1;
} 
h1 {
    color: Black;
    text-shadow: 1px 1px 5px white;
    font-size: 80px;
    font-family: Cambria;
}
h2 {
    color: black;
    text-shadow: 1px 1px 5px  white;
    font-size: 30px;
    font-family: Cambria;
}
h3 {
    color: rgb(46, 45, 45);
    text-shadow: 1px 1px 5px  #ada1a1;
    font-size: 30px;
    font-family: Cambria;
}
p {
    color: rgb(46, 45, 45);
    text-shadow: 1px 1px 5px  white;
    font-size: 15px;
}
li {
    color: rgb(46, 45, 45);
    text-shadow: 1px 1px 5px  white;
    font-size: 15px; 
}
