
#main {
    background-image: url("/Images/pexels-eva-elijas-6407662.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans';
    color: white;
}

#welcome {
    /* background-image: url("/Images/1.png"); */
    background-color: rgba(247, 229, 212, 0.918);
    overflow-wrap: normal;
}

#navbar {
    background-color:rgb(252, 158, 35)     
}


#about-me {
    /* background-image: url("/Images/2.png"); */
    background-color: rgba(247, 229, 212, 0.918); 
    overflow-wrap: normal;
}
#aboutme-left {
    text-align: left;
    margin-top: 0px;
    margin-left: 40px;
    margin-bottom: 40px;
}
#aboutme-right {
    text-align: right;
    margin-top: 0px;
    margin-right: 40px;
    margin-bottom: 40px;
}
#headshot {
    border: 5px solid white;
    border-radius: 50%;
    width: 480; 
    height: 350px;
    margin-top: 50px;
    margin-left: -10%; 
    position: static;
    /* min-width: 200px; */
}


#projects {
    /* background-image: url(/Images/3.png);  */
    background-color: rgba(247, 229, 212, 0.918);

}
#project-1 {
    border: 5px solid white;
}
#project-2 {
    border: 5px solid white;
}
#project-3 {
    border: 5px solid white;
}


a {
    color: rgb(77, 76, 76);
    font-size: 20px;
    text-shadow: 1px 1px 5px #ada1a1;
    text-decoration: none;
} 

a:hover {
    color: rgba(247, 229, 212);
} 

figcaption {
    color:rgb(8, 8, 8);
}

.project-name {
    font-size: 20px;
    font-weight: bold;
}

.project-boxes {
    margin-bottom: 70px;
}

.project-img:hover {
    width:250px;
    height:250px;
    border: 5px solid white;
}

#resume {
    margin-bottom: 40px;
}

#resume:hover{
    width: 600px;
    height: 750px;
}

.icon-images {
    width: 30px;
    height:32px;
    margin-top: 10px;
    margin-bottom: 10px;
}



h1 {
    color: Black;
    text-shadow: 1px 1px 5px white;
    font-size: 80px;
    font-family:fantasy; 
}
h2 {
    color: black;
    text-shadow: 1px 1px 5px  white;
    font-size: 30px;
    font-family: 'Lucida Sans'
}
h3 {
    color: rgb(46, 45, 45);
    /* text-shadow: 1px 1px 5px  #ada1a1; */
    font-size: 30px;
    font-family: 'Lucida Sans';
}

h4 {
    color: rgb(8, 8, 8);
    /* text-shadow: 1px 1px 5px  #ada1a1; */
    font-size: 20px;
    font-family: 'Lucida Sans';
    font-weight:bolder;
    /* text-shadow: 2px 2px 2px rgb(223, 143, 24); */
}

p {
    color: rgb(46, 45, 45);
    text-shadow: 1px 1px 5px  white;
    font-size: 15px;
}
li {
    color: rgb(46, 45, 45);
    text-shadow: 1px 1px 5px  white;
    font-size: 15px; 
}

.section-headers {
    font-family: fantasy;
    color:black;
    /* text-shadow: 2px 2px 2px rgb(223, 143, 24); */
    background-color:rgb(252, 158, 35)
}

#job-title {
    margin-top: 0px;
    padding-bottom: 100px;
    padding-right: 20px;
}
#header-title {
    margin-bottom: 0px;
}

#resume-section {
    /* background-image: url("/Images/4.png"); */
    background-color: rgba(247, 229, 212, 0.918);

}

#contact {
    /* background-image: url("/Images/1.png"); */
    background-color: rgba(247, 229, 212, 0.918);  
}


#footer {
    background-color:rgba(247, 229, 212, 0.918);
}
